@model _23DH114638_MyStore.Models.ViewModel.ProductSearchVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <title>Search</title>


    <style>
        .search-container {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Form-Control {
            width: 40%;
            padding: 12px;
            margin-bottom: 12px;
            max-width: none;
            position: relative;
        }

        .btn-Search {
            margin-left: 30px;
            padding: 12px;
            margin-bottom: 12px;
        }

        .order-container{
            text-align: center;
            margin-bottom:6px;
        }
    </style>
</head>

<body>
    @*Form Tìm kiếm*@
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "Form-Control",
                placeholder = "Nhập Tên sản phẩm bạn cần tìm kiếm"
            })


            @Html.TextBoxFor(m => m.MaxPrice, new
            {
                @class = "Form-Control",
                placeholder = "Nhập giá trị tối đa",
                type = "number",
            })


            @Html.TextBoxFor(m => m.MinPrice, new
            {
                   @class = "Form-Control",
                   placeholder = "Nhập giá trị tối thiểu",
                   type = "number",
            })

            <button type="submit" class="btn btn-outline-success btn-md btn-Search">Tìm kiếm</button>
        </div>



        //Tùy chọn sắp xếp
        <div class="form-group order-container">

            Sắp xếp theo
            @Html.ActionLink("Tên Tăng dần", "Index", "Products", new
            {
                sortOrder = "name_asc",
                searchTerm = Model.SearchTerm,
                minPrice = Model.MinPrice,
                maxPrice = Model.MaxPrice
            }, null) |


            @Html.ActionLink("Tên giảm dần", "Index", "Products", new
            {
                sortOrder = "name_desc",
                searchTerm = Model.SearchTerm,
                minPrice = Model.MinPrice,
                maxPrice = Model.MaxPrice
            }, null) |


            @Html.ActionLink("Giá tăng dần", "Index", "Products", new
            {
                sortOrder = "price_asc",
                searchTerm = Model.SearchTerm,
                minPrice = Model.MinPrice,
                maxPrice = Model.MaxPrice
            }, null) |


            @Html.ActionLink("Giá giảm dần", "Index", "Products", new
            {
                sortOrder = "price_desc",
                searchTerm = Model.SearchTerm,
                minPrice = Model.MinPrice,
                maxPrice = Model.MaxPrice
            }, null)
        </div>
    }


    @*Partial View Của Index*@
    @Html.Partial("PVListProduct", Model)
</body>
</html>


